.dice {
  width: 59px;
  height: 59px;
  border: 1px solid #2f3a42;
  background-color: #151a1e;
  border-radius: 16px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 7px;
}
.dice:hover {
  background-color: #2f3a42;
}
.diceSelected {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.dice4 {
  width: 45px;
  height: 45px;
  border: 1px solid #2f3a42;
  background-color: #151a1e;
  border-radius: 16px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 14px;
  flex-direction: column;
}
.dice4:hover {
  background-color: #2f3a42;
}
.dice4Selected {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.dice5 {
  width: 45px;
  height: 45px;
  border: 1px solid #2f3a42;
  background-color: #151a1e;
  border-radius: 16px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 14px;
  flex-direction: column;
}
.dice5:hover {
  background-color: #2f3a42;
}
.dice5Selected {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.dice6 {
  width: 45px;
  height: 45px;
  border: 1px solid #2f3a42;
  background-color: #151a1e;
  border-radius: 16px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 14px;
  flex-direction: column;
}
.dice6:hover {
  background-color: #2f3a42;
}
.dice6Selected {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #c9d2d9;
}
.dotSelected {
  background-color: #111316 !important;
}
.dotsContainer {
  display: flex;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
  justify-content: space-between;
  align-items: center;
}
.dotsDivider1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.dotsDivider2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.dotsDivider3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dotsDivider4 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.dotsDivider5 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
