@media (max-width: 992px) {
    .mobileRightSideBar{
        display: block;
        background: linear-gradient(0deg, rgba(52,185,185,0.2) 50%, rgba(34,102,212,0.2) 100%);
        border-radius: 10px;
    }
    .mobileRightSideBar p{
        margin-bottom: 0rem !important;
        color: #3F8470;
        font-size: 15px;
    }
    .mobileRightSideBar span{
        color: #f0f0f0;
        font-size: 15px;

    }
    .mobileRightSideBar svg{
        width: 30px;
        height: 30px;
    }
}
@media (min-width: 993px) {
    .mobileRightSideBar{
        display: none;
    }
    .mobileRightSideBar span{
        color: white;
    }
}