.rightSideBar{
    right: 0;
    top:0;
    margin-top: 68px;
    width: 300px;
    position: absolute;
    border: 1px solid #222222;
    border-radius: 20px 20px 20px 20px;
    opacity: .8;
}

.rightSideBar span{
    color: rgb(52,185,185);
    font-size: 17px;
}
.rightSideBar .rightSideBarInput{
    background-color: #222222;
    width: 100%;
    height: 50px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rightSideBar .rightSideBarInput .border-color{
    border: 1px solid rgb(52,185,185);;
    height: 50px;
    align-items: center;
    border-radius: 16px;
}

.rightSideBar .rightSideBarInput svg{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.rightSideBar .rightSideBarInformation p{
    margin-bottom: 0rem !important;
    color: #62D8AC;
    font-size: 17px;
    margin-right: 10px;
}
.rightSideBar .rightSideBarInformation span{
    color: var(--unnamed-color-f0f0f0);
    font-size: 17px;
}
.rightSideBar .rightSideBarInformation svg{
    width: 20px;
    height: 20px;
}

