.marquee div {
  cursor: pointer;
}
.volume {
  color: #0d6b91;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.marque__background {
  height: 44px;
  padding-bottom: 25px;
  margin-top: 10px;
  background: rgb(52, 185, 185);
  background: linear-gradient(
    90deg,
    rgba(52, 185, 185, 1) 50%,
    rgba(34, 102, 212, 1) 100%
  );
}

.overlay::before,
.overlay::after {
  background: transparent !important;
}

.profileMetaWhite {
  border: 1px solid transparent;
  border-radius: 15px;
  height: 30px;
  background-color: #f0f0f0;
  /* background: rgb(52,185,185);
  background: linear-gradient(90deg, rgba(52,185,185,1) 50%, rgba(34,102,212,1) 100%); */
  padding: 10px;
  opacity: 1;
  cursor: pointer;
}
.profileMeta {
  border: 1px solid transparent;
  border-radius: 15px;
  height: 30px;
  background: #62d8ac;
  padding: 10px;
  opacity: 1;
  cursor: pointer;
}
.profileMeta span {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bolder;
  color: #030303;
}
.profileMetaBlue span {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bolder;
  color: #030303;
}
.profileMetaWhite span {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bolder;
  color: #030303;
}
.profileMetaBlue {
  border: 1px solid transparent;
  border-radius: 15px;
  height: 30px;
  background-color: #2366d3;
  padding: 10px;
  opacity: 1;
  cursor: pointer;
}
.bootstrapt-container button {
  border: none !important;
  background-color: #030303;
  border: 1px solid transparent !important;
  border-radius: 10px !important;
}
.bootstrapt-container button:hover {
  border: none !important;
  background-color: #030303 !important;
  border: 1px solid transparent !important;
  border-radius: 10px !important;
}
.dropdown-menu.show {
  display: block !important;
  width: 100% !important;
  transform: translate(0px, 62px) !important;
  border-color: rgb(52, 185, 185) !important;
  padding: 5px 10px !important;
  background: #030303 !important;
  padding-bottom: 0px !important;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: none !important;
  background-color: none !important;
}
.dropdown-item {
  background-color: #030303 !important;
  border-bottom: 2px solid !important;
  padding: 15px 20px !important;
}
.dropdown-menu {
  --bs-dropdown-padding-y: 0rem !important;
}

.bootstrapt-container {
  background-color: #030303 !important;
  border: 1px solid #030303;
  border-bottom-left-radius: 10px;
  /* position: absolute;
  top: 0; */
}
.colorSx {
  border-color: rgb(52, 185, 185);
}
.colorPol {
  border-color: #8247e5;
}
.colorpSx {
  color: rgb(52, 185, 185) !important;
  margin: 0 !important;
}
.colorpPol {
  color: #8247e5 !important;

  margin: 0 !important;
}
.bootsrapt-svg {
  width: 30px;
  height: 30px;
}

.connect-wallet {
  background: transparent
    linear-gradient(180deg, #2366d3 0%, #069cc7 50%, #62d8ac 100%) 0% 0%
    no-repeat padding-box;
  border: 1px solid #069cc7;
  border-radius: 0px 0px 0px 20px;
  width: 200px;
  height: 64px;
}
.connect-wallet span {
  font-size: 15px;
  font-weight: bolder;
}
.connect-wallet svg {
  width: 20px;
  height: 20px;
}

.dropdown-toggle {
  background-color: #030303;
  border: 1px solid rgb(52, 185, 185) !important;
  opacity: 1 !important;
}
.dropdown-toggle:hover {
  opacity: 1 !important;
  background-color: none !important;
  color: none !important;
}
.dropdown-menu.show {
  background-color: #222;
}
.wallet-dropdown span {
  color: #f0f0f0;
  font-size: 16px;
}
.wallet-dropdown svg {
  width: 20px;
  height: 20px;
}
.img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

@media (max-width: 992px) {
  .marque-container {
    display: none;
  }
}
