.sidebar__container{
    background-color: red;
}

ol, ul {
    padding-left: 0rem !important;
}

 nav  {
    position: fixed;
    width: 60px;
    height: 100%;
    background: #222222;
    transition: .5s;
    overflow: hidden;
    border-radius: 5px;
    z-index: 999999;
}

nav.active {
    width: 180px;
}

nav ul {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
}

nav ul li {
    list-style: none;
    width: 100%;
    color: white;
    position: relative;

}

nav ul li:hover a::before {
    background: #069CC7 0% 0% no-repeat padding-box;;
    width: 100%;
}

nav ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    transition: .2s;
}

nav ul li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: .2s;
}

nav ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 55px;
    text-align: center;
}

nav ul li a .title {
    position: relative;
    font-size: .85em;
}

nav ul li a .icon * {
    font-size: 1.1em;
}

nav ul li a.toggle {
    border-bottom: 3px solid var(--bg-primary);
}

.toggle {
    cursor: pointer;
}

header {
    display: none;
}

@media (max-width: 768px) {
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 60px;
        background: var(--bg-secondary);
        color: var(--cl-text);
    }

    header a {
        color: var(--cl-text)
    }

    nav {
        left: -60px;
    }

    nav.active {
        left: 0;
        width: 100%;
    }

    nav ul li a.toggle {
        display: none;
    }
}

