/* .sidebar__container {
  background-color: red;
} */

ol,
ul {
  padding-left: 0rem !important;
}

#dark nav {
  position: fixed;
  width: 60px;
  height: 100%;
  background: #222222;
  transition: all ease 0.8s !important;

  overflow: hidden;
  z-index: 999999;
  border-right: 5px solid rgb(52, 185, 185);
}
#light nav{
  position: fixed;
  width: 60px;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(52, 185, 185, 1) 50%,
    rgba(34, 102, 212, 1) 100%
  );
  transition: all ease 0.8s !important;

  overflow: hidden;
  z-index: 999999;
  border-right: 5px solid rgb(52, 185, 185);
}

#dark nav.active {
  width: 180px;
}
#light nav.active {
  width: 180px;
}

#dark nav ul {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
}
#light nav ul {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
}

#dark nav ul a {
  list-style: none;
  width: 100%;
  color: white;
  position: relative;
}
#light nav ul a {
  list-style: none;
  width: 100%;
  color: white;
  position: relative;
}

#dark nav ul a:hover a::before {
  background: #069cc7 0% 0% no-repeat padding-box;
  width: 100%;
}
#light nav ul a:hover a::before {
  background: #069cc7 0% 0% no-repeat padding-box;
  width: 100%;
}

#dark nav ul a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #e5e5e5;
  transition: all ease 0.8s !important;

}
#dark nav ul .navControl{
  background-color: #222222;
  padding-bottom: 20px;
  padding-top: 10px;
}
#light nav ul .navControl{
  background-color: #e5e5e5;
  padding-bottom: 20px;
  padding-top: 10px;


}

#light nav ul a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  transition: all ease 0.8s !important;

}

#dark  nav ul a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: all ease 0.8s !important;

}

#light  nav ul a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: all ease 0.8s !important;

}

#dark nav ul a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 40px;
  text-align: center;
}
#light nav ul a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 40px;
  text-align: center;
}

#dark nav ul a .title {
  position: relative;
  font-size: 0.85em;
}
#light nav ul a .title {
  position: relative;
  font-size: 0.85em;
}

#light nav ul a .title {
  position: relative;
  font-size: 0.85em;
  color: white;
}

#dark nav ul a .icon * {
  font-size: 1.1em;
}
#light nav ul a .icon * {
  font-size: 1.1em;
}

#dark nav ul a.toggle {
  border-bottom: 3px solid var(--bg-primary);
}

#dark .toggle {
  cursor: pointer;
}
#dark .reverse {
  transform: rotate(-180deg);
  transition: all ease 0.8s !important;

  color: #069cc7;
  width: 30px;
  height: 30px;
  margin-top: 10px;
}
#dark .regular {
  transition: all ease 0.8s !important;

  color: #069cc7;
  width: 30px;
  height: 30px;
}

#dark header {
  display: none;
}
#dark header .mobile-sidebar {
  display: none;
}
#dark .nav-tab {
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
}
#dark .soon {
  border-radius: 7px;
  font-weight: 600;
  color: black;
  padding: 3px;
  margin-left: 7px;
  font-size: 10px;
  background: rgb(52, 185, 185);
  background: linear-gradient(
    90deg,
    rgba(52, 185, 185, 1) 50%,
    rgba(34, 102, 212, 1) 100%
  );
}

#light nav ul a.toggle {
  border-bottom: 3px solid var(--bg-primary);
}

#light .toggle {
  cursor: pointer;
}
#light .reverse {
  transform: rotate(-180deg);
  transition: all ease 0.8s !important;

  color: #069cc7;
  width: 30px;
  height: 30px;
  margin-top: 10px;
}
#light .regular {
  transition: all ease 0.8s !important;

  color: #069cc7;
  width: 30px;
  height: 30px;
}

#light header {
  display: none;
}
#light header .mobile-sidebar {
  display: none;
}
#light .nav-tab {
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
}
#light .soon {
  border-radius: 7px;
  font-weight: 600;
  color: black;
  padding: 3px;
  margin-left: 7px;
  font-size: 10px;
  background: rgb(52, 185, 185);
  background: linear-gradient(
    90deg,
    rgba(52, 185, 185, 1) 50%,
    rgba(34, 102, 212, 1) 100%
  );
}
@media (max-width: 992px) {
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background: #222222;
    color: var(--cl-text);
    border-bottom: 2px solid rgb(52, 185, 185);
  }
  header .mobile-sidebar {
    display: block;
  }

  header a {
    color: var(--cl-text);
  }
  .mobile-connect-wallet {
    background-color: #303030;
    border-radius: 10px;
    padding: 5px 10px;
  }
  .mobile-connect-wallet span {
    font-size: 14px;
  }

  nav {
    left: -60px;
  }

  nav.active {
    left: 0;
    width: 100%;
  }

  nav ul li a.toggle {
    display: none;
  }
}
