.footer {
  display: flex;
  align-items: center;

}
.footer-container{
  padding-left: 50px;
  padding-right: 50px;
}
.footer p {
  color: white;
  font-size: 22px;
  align-items: center;
  margin-bottom: -1rem;
  text-transform: uppercase;
}
.footer__bottom p {
  color: #a5a5a5;
  font-size: 14px;
}
.footer__bottom span {
  color: #3d3d3d;
  font-size: 14px;
}
