#dark {
  background: #101010 !important;
  transition: all ease 0.8s !important;
}
#light {
  background: #e5e5e5 !important;
  transition: all ease 0.8s !important;
}
#root {
  transition: all ease 0.3s !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dice {
  display: flex !important;
  align-items: center !important;
}
#dark .rollText {
  color: #222222;;
  font-size: 24px;
  font-weight: 800;
  transition: all ease 0.8s !important;

}
#light .rollText {
  color: #e5e5e5;
  font-size: 24px;
  font-weight: 800;
  transition: all ease 0.8s !important;

}

#dark .title {
  color: #c9d2d9;
  font-size: 12px;
  margin-left: 5px;
  font-weight: 600;
  transition: all ease 0.8s !important;

}
#light .title {
  color: #222222;
  font-size: 12px;
  margin-left: 5px;
  font-weight: 600;
  transition: all ease 0.8s !important;

}

#dark .amountValue{
  background-color: #111316;
  border-radius: 8px;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #303030;
  transition: all ease 0.8s !important;

}
#light .amountValue{
  background-color: #e5e5e5;
  border-radius: 8px;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #303030;
  transition: all ease 0.8s !important;

}
#dark .tbet{
  color: #F0F0F0;
  font-size: 20px;
  transition: all ease 0.8s !important;

}
#light .tbet{
  color: #222222;
  font-size: 20px;
  font-weight: 600;
  transition: all ease 0.8s !important;

}

#dark .amountTotal{
  color: #F0F0F0;
  transition: all ease 0.8s !important;

}

#light .amountTotal{
  color: #222222;
  transition: all ease 0.8s !important;

}
