#dark body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#light body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  max-width: 1020px !important;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'robotoregular', sans-serif;
}

.gradientHorizontal {
  background: rgb(52, 185, 185);
  background: linear-gradient(
    90deg,
    rgba(52, 185, 185, 1) 50%,
    rgba(34, 102, 212, 1) 100%
  );
}
.face {
  background: rgb(52, 185, 185) !important;
  background: linear-gradient(
    0deg,
    rgba(52, 185, 185, 1) 50%,
    rgba(34, 102, 212, 1) 100%
  ) !important;
}
.gradientVertical {
  background: rgb(52, 185, 185);
  background: linear-gradient(
    0deg,
    rgba(52, 185, 185, 1) 50%,
    rgba(34, 102, 212, 1) 100%
  );
}

:root {
  --bg-primary: #41444b;
  --bg-secondary: #52575d;
  --bg-active: #fddb3a;
  --cl-text: #f6f4e6;
  --bg-light-primary: #e5e5e5;
  --unnamed-color-f0f0f0: #f0f0f0;
  --unnamed-color-069cc700: #069cc700;
  --unnamed-color-030303: #030303;
  --unnamed-font-family-poppins: Poppins;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-size-24: 24px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-35: 35px;
  font-family: var(--unnamed-font-family-poppins);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-24);
  line-height: var(--unnamed-line-spacing-35);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-f0f0f0);
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
